<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nobshelloworld">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="36" />

    <application
        android:allowBackup="false"
        android:hasCode="false"
        android:label="Nobs Hello World"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Nobs Hello World">

            <meta-data
                android:name="android.app.lib_name"
                android:value="hello_world" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
